<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>&lt;youtube-video-statistic&gt; Demo</title>
    <script src="../webcomponentsjs/webcomponents.min.js"></script>
    <link rel="import" href="youtube-video-statistic.html">
    <style>
      body {
        font-family: sans-serif;
        background: rgba(204, 204, 204, 0.31);
      }
    </style>
  </head>

  <body unresolved>
      <youtube-video-statistic videoid="yRbOSdAe_JU"
                               apiKey="AIzaSyDq6ojHsOAqd8lCuYIWGeRMtOXvfLNEEh0"
                               chromeless
                               viewCount likeCount dislikeCount favoriteCount commentCount>
      </youtube-video-statistic>
  </body>
</html>
